<section class='main-welcome'>
  <section class='welcome-card'>
    <% if current_user %>
      <h1>Hello, <%= current_user.name %>.</h1>

      <br>
      <%= link_to "Visit Your Profile Here", "/#{current_user.username}" %>
    <% else %>
      <p>Please Sign In.</p>
    <% end %>
  </section>
</section>
